@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ozone";
  src: url("./assets/fonts/DB Ozone X v3.2.ttf");
}

/* @font-face {
  font-family: "Ozone Med";
  src: url("./assets/fonts/DB Ozone X Med v3.2.ttf");
}

@font-face {
  font-family: "Ozone Bd";
  src: url("./assets/fonts/DB Ozone X Bd v3.2.ttf");
} */


@layer base {
  body {
    font-family: "Ozone", sans-serif; /* Apply globally to body */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the select dropdown */
.select-wrapper {
  position: relative;
}

/* Hide the default arrow */
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Add a custom right arrow using a pseudo-element */
.select-wrapper::after {
  @apply text-primary;
  content: '\25BC'; /* Unicode character for a downward arrow */
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 16px; /* Adjust the position of the arrow */
  transform: translateY(-36%);
  pointer-events: none;
}
