@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ozone";
  src: url("./assets/fonts/DB Ozone X v3.2.ttf");
}

@font-face {
  font-family: "Ozone Med";
  src: url("./assets/fonts/DB Ozone X Med v3.2.ttf");
}

@font-face {
  font-family: "Ozone Bd";
  src: url("./assets/fonts/DB Ozone X Bd v3.2.ttf");
}


@layer base {
  body {
    font-family: "Ozone", sans-serif; /* Apply globally to body */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
